*
{
scroll-behavior: smooth;
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}

body{
	background: #12222d;
	height: 1000px;
}

.wrapper
{
 position: relative;
	transition: 0.7s;
	left:0px;
}

.wrapper.active
{
	left:-400px;
}

header
{
	
	position: fixed;
	top:0;
	left:0;
	width:100%;
	padding: 40px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
	transition: 0.7s;
}

header.sticky
{
		padding: 20px 100px;
        background: #162c3b;
}

header .logo
{
	color: #fff;
	text-decoration: none;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 3px;
	text-transform: uppercase;
}

header .toggle
{
	position: relative;
	width: 36px;
	height: 30px;
	background: url("toggle.png");
	background-size: cover;
	cursor: pointer;
	
}
header .toggle.active
{
	background: url("close.png");
	background-size: cover;
}

.banner
{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #3475ca;
}

.banner img
{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.25;
	
}

.banner .content
{
	
	position: relative;
	max-width: 750px;
	text-align: center;
}


.banner .content h2
{
	font-size: 42px;
	color: #fff;
}

.banner .content p
{
	font-size: 18px;
	color: #fff;
}

.sidebar
{
	position: fixed;
	top:0;
	right:-400px;
	width:400px;
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	background: #12222d;
	transition: 0.7s;
	
}

.sidebar.active
{
	right:0;
}

.sidebar ul
{
	position: relative;
	display: flex;
	flex-direction: column;
}

.sidebar ul li
{
	list-style: none;
	margin: 9px 0;
}
.sidebar ul li a
{
	color: #fff;
	font-size: 20px;
	font-weight: 300px;
	text-decoration: none;
}

.sidebar ul li a:hover
{
	color: #3f8ffc;
}

.about
{
	position: relative;
	width: 100%;
	background: #162c3b;
	display: flex;
}

.about .contentBx
{
	background: #162c3b;
	padding: 100px;
	width: 50%;
}

.about .contentBx h2
{
	position: relative;
	font-size: 30px;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
	padding-bottom: 10px;
}


.about .contentBx p
{
	position: relative;
	font-size: 15px;
	color: #fff;
	font-weight: 200;
	letter-spacing: 1px;
	
}


.about .imgBx
{
	position: relative;
	width: 50%;
	background-image: url("window.jpg");
	background-size: cover;
	background-position: center;
}


.services
{
	position: relative;
	padding: 100px;
	text-align: center;
}

.services h2

{
	position: relative;
	font-size: 30px;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
	padding-bottom: 10px;
}


.services p

{
	position: relative;
	font-size: 15px;
	color: #fff;
	font-weight: 200;
	letter-spacing: 1px;
}


.container
{
	width: 100%;
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	
}


.container .serviceBx
{
	position: relative;
	background: #fff;
	justify-content: center;
	display: flex;
	width: 275px;
	height: 300px;
	align-items: center;
	z-index: 10000;
}

.container .serviceBx img
{
	max-width: 100px;
}

.container .serviceBx h1
{
	font-size: 20px;
	font-weight:500px;
	letter-spacing: 1px;
}


.technology
{
	position: relative;
	background: #3f8ffc;
	width: 100%;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	padding-top: 300px;
	margin-top: -300px;

}

.technology .contentBx
{
	position: relative;
	
}

.technology .contentBx h2
{
	position: relative;
	font-size: 30px;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
	padding-bottom: 10px;
}


.technology .contentBx p
{
	position: relative;
	font-size: 15px;
	color: #fff;
	font-weight: 200;
	letter-spacing: 1px;
	
}

.technology .imgBx
{
	position: relative;
	max-width: 800px;
}

.technology .imgBx img
{
	filter: invert(1);
}

.client
{
	position: relative;
	padding-top: 70px;
	background: #162c3b;
	text-align: center;
}

.client h2
{
	position: relative;
	font-size: 30px;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
	padding-bottom: 10px;
}

.client p
{
	position: relative;
	font-size: 15px;
	color: #fff;
	font-weight: 200;
	letter-spacing: 1px;
}


.client imgBx
{
	display: flex;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap;
	margin-top: 40px;
}

.client .imgBx img
{
	position: relative;
	display: inline-block;
	max-width: 200px;
	margin: 20px;
	cursor: pointer;
	opacity: 0.50;
}

.client .imgBx img:hover{
	opacity: 1;
}

.testimonials
{
	position: relative;
	padding:100px;
	text-align: center;
	background: #1222d;
}


.testimonials h2
{
	color:#fff;
}
.testimonials .container
{
	
	display:flex;
	position: relative;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	margin: 30px;
}


.testimonials .container .contentBx
{
	position: relative;
	background: #fff;
	padding: 30px 30px;
	margin: 25px;
	width: 450px;
	text-align: left;
	justify-content: center;
	display: flex;
	align-items: center;
}

.testimonials .container .contentBx p
{
	font-style: italic;
}

.testimonials .container .contentBx h3
{
	width: 100%;
	text-align: right;
	font-weight: 2000;
	color:#3f8ffc;
}


.team
{
	position: relative;
	padding: 0px 100px 100px;
	background: #ada8b6;
	text-align:  center;
		padding-top: 30px;

}

.team .container
{
	margin-top: 30px;
}

.team .teamBx
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 5px;
	
}

.team .teamBx .box
{
	margin: 0 10px;
	width: 100px;
	background: #fff;
	padding: 20px;
}

.team .teamBx .box .imgBx
{
	position: relative;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.team .teamBx .box .content
{
	padding: 10px 0;
}

.team .teamBx .box .content h2
{
	position: relative;
	font-size: 18px;
	line-height: 1.2em;
}


.team .teamBx .box .content h2 span
{
	position: relative;
	font-size: 14px;
	font-weight: 300;
}

.contact
{
	position: relative;
	justify-content: center;
	text-align: center;
	padding-top: 100px;
		padding-bottom: 60px;

	background: #162c3b;
}

.contact h2
{
position: relative;
	font-size: 30px;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
	padding-bottom: 10px;
}

.contact p
{
	position: relative;
	font-size: 15px;
	color: #fff;
	font-weight: 200;
	letter-spacing: 1px;
}


.about .imgBx2
{
	position: relative;
	width: 50%;
	background-image: url("bg2.jpg");
	background-size: cover;
	background-position: center;
}

 .redBg
{
	
	background-image: url("red.jpg") !important;
	background-size: cover;
	background-position: center;
}


.form
{
	position: relative;

}
	
.form .inputBx
{
	margin-bottom: 40px;
}

.form .inputBx input
{
	width:100%;
	background: transparent;
	box-shadow: none;
	border:none;
	outline: none;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	border-bottom: 2px solid #fff;
}

.form .inputBx input::placeholder,
.form .inputBx textarea::placeholder
{
	color: #fff;
}


.form .inputBx textarea
{
	width:100%;
	background: transparent;
	box-shadow: none;
	border:none;
	outline: none;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	min-height: 150px;
	border-bottom: 2px solid #fff;
}

.form .inputBx input[type="submit"]
{
	width:150px;
	background: #fff;
	color:#111;
	cursor: pointer;
	font-weight: 400;
}


.footer
{
	position: relative;
	background: #162c3b;
	padding: 20px 100px;
	justify-content: space-between;
	align-items: center;
	display: flex;
	
}

.footer p
{
	position: relative;
	font-size: 15px;
	color: #fff;
	font-weight: 200;
	letter-spacing: 1px;
}

.footer ul
{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer ul li
{
	list-style: none;
}


.footer ul li a
{
	margin: 10px;
}

.footer ul li a img
{
	max-width: 30px;
	filter: invert(1);
}